$layout-name: 'l-our-differences';

.#{$layout-name} {
    &__col {
        width: 20%;
        max-width: 100%;
        flex: 0 0 20%;
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        text-decoration: none !important; 

        @media screen and (max-width: 991px) {
            width: 33%;
            flex: 0 0 33%;
            margin: 1rem 0;
        }

        @media screen and (max-width: 575px) {
            width: 80%;
            flex: 0 0 80%;
            margin: 1rem 0;
        }

        &:nth-of-type(odd) {
            .#{$layout-name} {
                &__item {
                    &:nth-of-type(1) {
                        order: 1;
                    }

                    &:nth-of-type(2) {
                        order: 2;
                    }
                }
            }
        }

        &:nth-of-type(even) {
            .#{$layout-name} {
                &__item {
                    &:nth-of-type(1) {
                        order: 2;

                        @media screen and (max-width: 991px) {
                            order: 1;
                        }
                    }

                    &:nth-of-type(2) {
                        order: 1;

                        @media screen and (max-width: 991px) {
                            order: 2;
                        }
                    }
                }
            }
        }
    }

    &__item {
        &:nth-of-type(odd) {
            @media screen and (max-width: 991px) {
                margin-bottom: 1.5rem;
            }
        }
    }
}