$utility-name: 'u-bg';

.#{$utility-name} {
    &-contain {
        background-size: contain !important;
    }

    &-cover {
        background-size: cover !important;
    }

    &-no-repeat {
        background-repeat: no-repeat !important;
    }
}